<div class="row text-center align-items-center ">
      <h3 class="fw-bold text-center fs-1 text-c-gray mt-2 mb-2 ">RECOMENDACIONES</h3>
</div>

<div class="row text-center align-items-center">
   <div class="col-12 col-md-4 mt-4 ">
      <div class="card" >
         <h5 class="card-header text-center bg-c-tertiary text-c-gray fw-bold fs-4">Nitrógeno menor a 3.6%</h5>
         <div class="card-body bg-c-tertiary2 text-center text-c-gray ">
           <h5 class="card-title">Déficit</h5>
           <p class="card-text">Con una estimación de nitrógeno menor a este porcentaje la hoja se encuentra en un deficit, por lo tanto se debe hacer un plan de fertilización</p>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-4 mt-4">
      <div class="card" >
         <h5 class="card-header text-center bg-c-tertiary text-c-gray fw-bold fs-4">Nitrógeno de 3.6% a 4.6%</h5>
         <div class="card-body bg-c-tertiary2 text-center text-c-gray ">
           <h5 class="card-title  ">Óptimo</h5>
           <p class="card-text">La estimacion entre estos porcentajes indican que la hoja se encuentra en un porcentaje óptimo, siga con el plan de fertilización que venía aplicando.</p>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-4 mt-4">
      <div class="card" >
         <h5 class="card-header text-center bg-c-tertiary text-c-gray fw-bold fs-4">Nitrógeno mayor al 4.6%</h5>
         <div class="card-body bg-c-tertiary2 text-center text-c-gray ">
           <h5 class="card-title">Exceso</h5>
           <p class="card-text">Con una estimación de nitrógeno mayor a este porcentaje la hoja se encuentra en exceso, quiere decir que no se puede realizar plan de fertilización.</p>
         </div>
      </div>
   </div>
</div>

