.recomendaciones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 100%; /* Ajustar el ancho máximo */
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
}


h2 {
  font-size: 32px; /* Tamaño aumentado en 4 puntos */
  color: #8C5C03;
  margin-top: 0;
  padding-top: 10px;
}

.cuadro-texto {
  background-color: #b9d393;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 830px; /* Ancho máximo del cuadro de texto */
  height: 80px;
  margin: 20px ;
  color: #593844;
  border-radius: 10px;
  border: 1px solid #ccc;  
}



/* Estilos para las cards */
.card {
  background-color: #b9d393;
  border: 1px solid #ccc;
  text-align: center;
  margin: 10px 10px;
  border-radius: 10px;
  height: 100%; /* Altura fija para las cards */
  overflow: auto; /* Hacer el contenido desplazable si no cabe */
}



.card-body {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  color: #593844;
}

.card-text {
  font-size: 16px;
  color: #593844;
}


/* Estilos para dispositivos más pequeños */
@media (max-width: 768px) {
  .card-title {
    font-size: 18px;
  }

  .card-text {
    font-size: 14px;
  }

  .cuadro-texto {
    padding: 10px; /* Reducir el espacio interno */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
  }
}

