<!-- <div class="row bg-c-tertiary rounded-4 py-3 mx-2 px-2">
  <div class="col-12 col-lg-6 align-self-center rounded-5 p-1">
    <div class="col-12 col-lg-6 align-self-center">
      <h3 class="fw-bold text-center fs-1 text-c-gray mt-2">Recomendaciones</h3>
      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>


  </div>
</div>

        </div> -->


    <div class="container px-4 text-center">
      <div class="row bg-c-text rounded-4 py-4 mx-2 px-2">
        <h3 class="fw-bold text-center fs-1 text-c-gray mt-2 ">Recomendaciones</h3>
        <div class="col-12 align-self-center offset-2 mt-2">
          <div class="card w-75 mb-3 bg-c-tertiary text-c-quaternary text-center ">
            <div class="card-body">
              <h5 class="card-title">Nitrógeno menor a 3.6%</h5>
              <p class="card-text">La hoja se encuentra en un deficit, se debe hacer un plan de fertilización</p>
              
            </div>
          </div>
        </div>
        <div class="col-12 align-self-center offset-2 mt-2">
          <div class="card w-75 mb-3 bg-c-tertiary text-c-quaternary text-center">
            <div class="card-body">
              <h5 class="card-title">Nitrógeno de 3.6%-4.6%</h5>
              <p class="card-text">Se encuentra en un porcentaje óptimo, siga con el plan de fertilización.</p>
              
            </div>
          </div>
        </div>
        <div class="col-12 align-self-center offset-2 mt-2">
          <div class="card w-75 mb-3 bg-c-tertiary text-c-quaternary text-center">
            <div class="card-body">
              <h5 class="card-title">Nitrógeno mayor al 4.6%</h5>
              <p class="card-text">La hoja se encuentra en exceso, no se puede realizar plan de fertilización</p>

            </div>
          </div>
        </div>
      </div>
    </div>


<!-- 
<div class="recomendaciones-container">
  <h2>Recomendaciones</h2>
  
  <div class="cuadro-texto">
    A continuación se encuentran las recomendaciones a seguir de acuerdo con la estimación de nitrógeno obtenida.
  </div>
  

<div class="container text-center">
  <div class="row align-items-start">
    <div class="card col">
      <div class="card-body">
        <h5 class="card-title">Nitrógeno menor a 3.5%</h5>
        <p class="card-text"> La hoja se encuentra en un deficit, se debe hacer un plan de fertilización</p>
      </div>
    </div>
    <div class="card col">
      <div class="card-body">
        <h5 class="card-title">Nitrógeno de 3.5%-4%</h5>
        <p class="card-text">Se encuentra en un porcentaje óptimo, siga con el plan de fertilización</p>
      </div>
    </div>
    <div class="card col">
      <div class="card-body">
        <h5 class="card-title">Nitrógeno mayor al 4%</h5>
        <p class="card-text">La hoja se ecuentra en exceso, no se puede realizar plan de fertilización</p>
      </div>
    </div>
  </div>
</div> -->