
.footer {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1B7302;
    color: #F2F2F2;
    bottom: 0;
    left: 0;
    right: 0;
 
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #F2F2F2;
    
  }

  @media (max-width: 768px) {
    .footer {
      position: relative; /* Cambia a posición relativa */
      width: 100%; /* Ocupa todo el ancho de la pantalla */
      flex-direction: inherit;
      text-align: center;
      margin-top: 20px; /* Ajusta el margen superior para dejar espacio para el contenido */
    }
  
    .right {
      margin-top: 10px;
      text-align: center;
    }
  }
  
  
  