
.footer {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e8b03;
    color: #d0e6d7;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Roboto Mono',monospace !important ; 
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Roboto Mono',monospace !important ; 
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #d0e6d7;
    font-family: 'Roboto Mono',monospace !important ; 
  }

  
  @media (max-width: 768px) {
    .footer {
      position: absolute;
      flex-direction: inherit;
      text-align: center;
    }
  
    .right {
      margin-top: 10px;
      text-align: center;
    }
  }
  
  