  <div class="row rounded-4 py-3 mx-2 px-3">
    <div class="col-md-6 offset-md-3 bg-c-tertiary align-self-center rounded-5 p-4">
    <h3 class="fw-bold text-center fs-1 text-c-gray mt-2">Crear cuenta</h3>
    <form class="login-form" [formGroup]="formLogin" (ngSubmit)="register()">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email" />
        <label for="floatingInput">Correo electrónico</label>
      </div>
      <div class="d-grid" *ngIf="!loading; else loadButton">
        <button class="btn btn-c-secondary" type="submit">
          Registrar
        </button>
      </div>
      <ng-template #loadButton>
        <div class="d-grid">
          <button class="btn btn-c-secondary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status"> Registrando...</span>
          </button>
        </div>
      </ng-template>
        <a class="text-center d-block fw-bold text-c-gray mt-2" routerLink="/inicio">Volver al inicio</a>
      </form>
    </div>
  </div>



 
 


