
<div class="row  ">
  <div class=" col-12 py-2 mx-2 px-3">
<div class="card bg-c-tertiary2">
  <h3 class="fw-bold text-center fs-1 text-c-gray mt-3   ">Acerca de nosotros</h3>
  <div class="card-body">
    Uno de los macronutrientes de mayor relevancia en el desarrollo de la planta es el Nitrógeno, manifestando su eficiencia en las hojas de la planta como un cambio de color a verde pálido, en casos leves, o amarillo en casos severos de manera uniforme. Las eficiencias de N además de producir clorosis en la hoja también reducen considerablemente el área foliar de la planta, es por esta razón que muchos agricultores hacen uso de fertilizantes nitrogenados con el fin de aumentar su producción, sin tener en cuenta que un uso delgedido de este puede causar contaminación del agua, así como infertilidad en el suelo.   </div>
</div>
</div>
</div>

<div class="container text-center">
  <div class="row align-items-end">
    <div class="col py-2 mx-4 ">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/finca1.jpg" class="card-img-top" alt="...">
        <div class="card-body bg-c-tertiary2  text-center">
          <h5 class="card-title text-c-gray fw-bold fs-4">Finca 1</h5>
          <p class="card-text">Ubicación, hectareas</p>
        </div>
      </div>
    </div>
    <div class="col py-2 mx-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/finca2.jpg" class="card-img-top" alt="...">
        <div class="card-body bg-c-tertiary2 text-center">
          <h5 class="card-title text-c-gray fw-bold fs-4">Finca 2 </h5>
          <p class="card-text">Ubicación, hectareas</p>
        </div>
      </div>
    </div>
    <div class="col py-2 mx-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/finca3.jpg" class="card-img-top" alt="...">
        <div class="card-body bg-c-tertiary2 text-center">
          <h5 class="card-title text-c-gray fw-bold fs-4">Finca 3</h5>
          <p class="card-text">Ubicación, hectareas</p>
        </div>
      </div>
    </div>
  </div>
</div>
