
<div class="container">
    <h1>Desarrollo de una herramienta de aprendizaje automático</h1>
    <div class="cuadro-texto">
        <p>
            Uno de los macronutrientes de mayor relevancia en el desarrollo de la planta es el Nitrógeno, manifestando su eficiencia en las hojas de la planta como un cambio de color a verde pálido, en casos leves, o amarillo en casos severos de manera uniforme. Las eficiencias de N además de producir clorosis en la hoja también reducen considerablemente el área foliar de la planta, es por esta razón que muchos agricultores hacen uso de fertilizantes nitrogenados con el fin de aumentar su producción, sin tener en cuenta que un uso desmedido de este puede causar contaminación del agua, así como infertilidad en el suelo. 
        </p>
        <p>
            La mayoría de los métodos para estimar el contenido de nitrógeno, requieren de pruebas de laboratorio que no solo son costosas, sino que se basan en métodos destructivos y además requieren de cierto tiempo para obtener los resultados; por consiguiente, son poco adaptables a las necesidades y al contexto socio económico del agricultor. 
        </p>
        <p>
            Este trabajo surge como la necesidad de encontrar y desarrollar un sistema que le permita a los agricultores conocer el estado nutricional de nitrógeno en las plantas de Gulupa, y poder establecer un plan de fertilización adecuado        
        </p>
      <!-- Contenido del cuadro de texto -->
    </div>
  

    <h2>Fincas</h2>

    <div class="container text-center">
        <div class="card-group row align-items-start">
          <div class="card col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Finca 1</h5>
              <p class="card-text">Ubicación, hectareas   </p>
              
          </div>
          
          </font></font></div>
          <div class="card col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Finca 2</h5>
              <p class="card-text">Ubicación, hectareas    </p>
              
          </div>
          </font></font></div>
          <div class="card col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Finca 3</h5>
              <p class="card-text">Ubicación, hectareas           </p>
              
          </div>
          </font></font></div>
        </div>
      </div>





  