<div class="login-container">
    <div class="image-container">
      <img src="/assets/gulupa.png" alt="Imagen de fondo">
    </div>
    <div class="login-right">
      <div class="welcome-text">BIENVENIDO</div>
      <div class="login-text">Inicia sesión</div>
      <form class="login-form">
        <input type="text" placeholder="Usuario">
        <input type="password" placeholder="Contraseña">
        <button type="submit">Iniciar Sesión</button>
        <a href="#">Crear cuenta</a>
      </form>
    </div>
  </div>
  
  <!-- Ventana emergente (modal) -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Crea una cuenta</h2>
      <form class="signup-form">
        <input type="email" placeholder="Correo electrónico">
        <input type="password" placeholder="Contraseña">
        <button type="submit">Registrarse</button>
      </form>
    </div>
  </div>
  