
<nav class="navbar">
    <div class="logo">
      <img [src]="imglogo" alt="Logo de la aplicación">
    </div>
    <div class="title">
      <h1>NITRÓGENO EN GULUPA</h1>
    </div>
    <div class="menu">
      <button class="dropbtn">MENÚ &#9662;</button>
      <div class="dropdown-content">
        <a routerLink="/inicio">Inicio</a>
        <a routerLink="/recomendaciones">Recomendaciones</a>
        <a routerLink="/nosotros">Acerca de nosotros</a>
        <a *ngIf="sesion | async ; else signIn" (click)="logOut()">Cerrar sesión</a>
        <ng-template #signIn>
          <a routerLink="/login">Iniciar sesión</a>
        </ng-template>
      </div>
    </div>
  </nav>
  
  