
.navbar {
    display: flex;
    position:inherit;
    justify-content: space-between;
    align-items: center;
    background-color: #1e8b03;
    padding: 10px 20px;
    color: #d0e6d7;
    height: 150px;
  
  
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .title {
    margin-left: 20px;
    font-family: 'Righteous';
    font-size: 32px; 
  }
  
  .logo img {
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    margin-right: 10px; /* Agrega margen derecho para separar el logo del título */
    vertical-align: middle; /* Alinea verticalmente el logo con el título */
  }
  .menu {
    position: relative;
  }
  
  .dropbtn {
    background-color: transparent;
    border: none;
    color: #d0e6d7;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e8b03;
    min-width: 160px;
    z-index: 1;
    right: 0;
  }
  .menu:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    color: #d0e6d7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #86EE70;
  }
  
  @media (max-width: 768px) {
    .dropdown-content {
      position: static;
      display: none;
      width: 100%;
    }
  
    .menu:hover .dropdown-content {
      display: block;
    }
    
    .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  