
/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: #0A2B72;
  } */
  h2 {
    font-size: 32px; /* Tamaño aumentado en 4 puntos */
    color: #8C5C03;
   
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrar verticalmente */
    min-height: calc(100vh - 100px); /* Reduzcamos el espacio superior e inferior */
    padding: 20px;
    text-align: center;
    color: #8C5C03;
    /* margin-bottom: 250px; // Puedes eliminar esto si deseas reducir el espacio inferior */
  }
  
  
  #folderSelector {
    display: none;
  }
  
  .btn {
    padding: 10px 20px;
    background-color:  #8C5C03;;
    color: #F2F2F2;
    border: none;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .btn:hover {
    background-color: #593844;
  }
  
  .selected-folder {
    margin-top: 20px;
    color: #8C5C03;
    padding: 10px; /* Añade un espacio interno alrededor del fondo */
  }
  
  .selected-folder ul {
    list-style: none; /* Oculta las viñetas (puntos) de la lista */
    padding: 0; /* Elimina el espacio de relleno en la lista */
    margin: 0; /* Elimina el margen de la lista */
  }
  
  .file-name {
    margin-left: 8px; /* Ajusta el margen a tu preferencia */
  }

  .btn-process {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8C5C03;
    color: #F2F2F2;
    border: none;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .btn-process:hover {
    background-color: #593844;
  }
  


.resultado {
    margin-top: 20px;
    color: #8C5C03;
  }
  
  .btn-new {
    padding: 10px 20px;
    background-color: #8C5C03;
    color: #F2F2F2;
    border: none;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .btn-new:hover {
    background-color: #8C5C03;
  } 
