<!-- Title, subtitle and button -->
<div class="row">
  <div class="col">
    <h2 class="text-center text-c-secondary fw-bold fs-1 mb-4">Procesa tus imágenes</h2>
    <h3 class="text-center text-c-secondary fw-bold fs-4 opacity-75">Seleccciona tus imágenes para obtener la estimación de nitrógeno</h3>
    <div class="d-flex flex-row justify-content-center my-5">
      <button class="btn btn-outline-c-secondary rounded-5" (click)="inputFile.click()" *ngIf="files.length < 5; else totalFiles">
        <i class="bi bi-0-circle"></i>
        Selecciona las imágenes
      </button>
      <ng-template #totalFiles>
        <button class="btn btn-c-secondary rounded-5" (click)="proccessImages()" *ngIf="!processing; else processigButton">
          Procesar imágenes
        </button>
        <ng-template #processigButton>
          <button class="btn btn-c-secondary rounded-5" type="button" disabled>
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status">Procesando imágenes...</span>
          </button>
        </ng-template>
      </ng-template>
      <input #inputFile type="file" hidden accept="image/jpeg, image/tiff" multiple (change)="loadImages($event)">
    </div>
  </div>
</div>
<!-- Card to load images -->
<ng-template #uploadTemplate>
  <div class="row">
    <div class="col d-flex flex-row justify-content-center">
      <div class="card mb-3" style="max-width: 500px;">
        <div class="row g-0">
          <div class="col-sm-4 image" (click)="inputFile.click()">
            <img src="../../../assets/no-image.png" class="img-fluid rounded-start" alt="no images load yet">
          </div>
          <div class="col-sm-8">
            <div class="card-body">
              <h5 class="card-title">Recomendaciones</h5>
              <p class="card-text">
                <strong>Nota:</strong> Recuerda que se pueden subir solamente 5 imagenes que proporciona la cámara Parrot Sequoia, 1 imagen .JPEG y 4 .TIF, las imágenes deben ser verticales.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Preview -->
<div class="row" *ngIf="files.length!==0; else uploadTemplate">
  <div class="col d-flex flex-row justify-content-center">
    <div class="card mb-3" style="max-width: 500px;">
      <div class="row g-0">
        <div class="col-sm-4 image" (click)="inputFile.click()">
          <img [src]="preview || '../../../assets/jpeg.png'" class="img-fluid rounded-start" alt="no images load yet">
        </div>
        <div class="col-sm-8">
          <div class="card-body">
            <h5 class="card-title">Imagenes TIFF cargadas</h5>
            <ul class="list-group list-group-flush" *ngIf="tiffFiles.length > 0; else noTiff">
              <li class="list-group-item d-flex justify-content-between" *ngFor="let tiff of tiffFiles; index as i">{{tiff}}<button class="btn-close" (click)="deleteTiff(i)"></button></li>
            </ul>
            <ng-template #noTiff>
              <p class="card-subtitle">Aún no se han cargado imágenes tiff</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
</div>