.recomendaciones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 100%; /* Ajustar el ancho máximo */
  margin-bottom: 180px;
}


h2 {
  font-size: 32px; /* Tamaño aumentado en 4 puntos */
  color: #8C5C03;
  margin-top: 0;
  padding-top: 10px;
}

.cuadro-texto {
  background-color: #b9d393;
  padding: 10px;
  text-align: center;
  width: 100%;
  max-width: 830px; /* Ancho máximo del cuadro de texto */
  height: 20px;
  margin: 20px 0;
  color: #8C5C03;
  border-radius: 10px;
 
}

.recomendaciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px; /* Ancho máximo de las recomendaciones */
}

.recomendacion {
  width: calc(33.33% - 10px); /* Aproximadamente 1/3 del ancho del contenedor */
  margin-bottom: 20px;
  padding: 2px;
  background-color: #b9d393;
  /*border: 1px solid #0A2B72;*/
  text-align: center;
  /*color: #363333;*/
  color: #8C5C03;
  border-radius: 10px;
}

.porcentaje-cuadro {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.texto-cuadro {
  font-size: 16px;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .recomendacion {
    width: calc(50% - 10px); /* 2 columnas en pantallas pequeñas */
  }
}

/* Media Query para pantallas aún más pequeñas */
@media (max-width: 576px) {
  .recomendacion {
    width: 100%; /* 1 columna en pantallas muy pequeñas */
  }
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .cuadro-texto {
    padding: 5% 10%; /* Ajusta el relleno en porcentaje */
    font-size: 18px; /* Ajusta el tamaño de fuente */
  }
}

/* Media Query para pantallas aún más pequeñas */
@media (max-width: 576px) {
  .cuadro-texto {
    padding: 10% 5%; /* Ajusta el relleno en porcentaje */
    font-size: 16px; /* Ajusta el tamaño de fuente */
  }
}