<div class="recomendaciones-container">
  <h2>Recomendaciones</h2>
  
  <div class="cuadro-texto">
    A continuación se encuentran las recomendaciones a seguir de acuerdo con la estimación de nitrógeno obtenida.
  </div>
  

<div class="container text-center">
  <div class="row align-items-start">
    <div class="card col">
      <div class="card-body">
        <h5 class="card-title">Nitrógeno menor a 3.5%</h5>
        <p class="card-text"> La hoja se encuentra en un deficit, se debe hacer un plan de fertilización</p>
      </div>
    </div>
    <div class="card col">
      <div class="card-body">
        <h5 class="card-title">Nitrógeno de 3.5%-4%</h5>
        <p class="card-text">Se encuentra en un porcentaje óptimo, siga con el plan de fertilización</p>
      </div>
    </div>
    <div class="card col">
      <div class="card-body">
        <h5 class="card-title">Nitrógeno mayor al 4%</h5>
        <p class="card-text">La hoja se ecnuentra en exceso, no se puede realizar plan de fertilización</p>
      </div>
    </div>
  </div>
</div>
