<div class="recomendaciones-container">
  <h2>Recomendaciones</h2>
  
  <div class="cuadro-texto">
    A continuación se encuentran las recomendaciones a seguir de acuerdo con la estimación de nitrógeno obtenida.
  </div>

  <div class="recomendaciones">
    <div class="recomendacion">
      <div class="porcentaje-cuadro">Porcentaje 1</div>
      <div class="texto-cuadro">Texto relacionado al Porcentaje, texto texto texto texto texto texto texto texto texto texto texto textotexto textotexto textotexto texto texto texto1</div>
    </div>

    <div class="recomendacion">
      <div class="porcentaje-cuadro">Porcentaje 2</div>
      <div class="texto-cuadro">Texto relacionado al Porcentaje 2</div>
    </div>

    <div class="recomendacion">
      <div class="porcentaje-cuadro">Porcentaje 2</div>
      <div class="texto-cuadro">Texto relacionado al Porcentaje 2</div>
    </div>

    <div class="recomendacion">
      <div class="porcentaje-cuadro">Porcentaje 2</div>
      <div class="texto-cuadro">Texto relacionado al Porcentaje 2</div>
    </div>

    <div class="recomendacion">
      <div class="porcentaje-cuadro">Porcentaje 2</div>
      <div class="texto-cuadro">Texto relacionado al Porcentaje 2</div>
    </div>

    <div class="recomendacion">
      <div class="porcentaje-cuadro">Porcentaje 2</div>
      <div class="texto-cuadro">Texto relacionado al Porcentaje 2</div>
    </div>

    <div class="recomendacion">
      <div class="porcentaje-cuadro">Porcentaje 2</div>
      <div class="texto-cuadro">Texto relacionado al Porcentaje 2</div>
    </div>

    <div class="recomendacion">
      <div class="porcentaje-cuadro">Porcentaje 2</div>
      <div class="texto-cuadro">Texto relacionado al Porcentaje 2</div>
    </div>

    <div class="recomendacion">
      <div class="porcentaje-cuadro">Porcentaje 2</div>
      <div class="texto-cuadro">Texto relacionado al Porcentaje 2</div>
    </div>

  </div>
</div>

