<div class="row">

    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <a class="btn btn-c-secondary  " routerLink="/inicio" role="button">Volver a inicio</a>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/perrito.jpg" class=" shadow-lg img-fluid image-container" alt="...">
                <div class="fw-bold text-center fs-1 carousel-caption d-none d-md-block text-c-gray">
                    <h5>ERROR 404 </h5>
                    <p>Página no encontrada</p>
                </div>
            </div>
        </div>
    </div> 

</div>       
