<div class="row text-center align-items-center ">
  <h3 class="fw-bold text-center fs-1 text-c-gray mt-2 mb-3 ">PREGUNTAS FRECUENTES</h3>
</div>
<div class="container border rounded border-c-quaternary">
  <div class="row">
    <div class="card  ">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a class="btn border-0 fw-bold text-start" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
              ¿Dónde me puedo registrar? 
            </a>
            <div class="collapse" id="collapse1">
              <div class="card card-body border-0 text-start">
                El registro solo lo puede hacer el administrador, para usar esta aplicación es necesario ponerse en contacto al siguiente correo:
                nitrogenogulupa@gmail.com
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <a class="btn border-0 fw-bold text-start" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
            ¿Cómo recuperar mi contraseña? 
          </a>
          <div class="collapse" id="collapse2">
            <div class="card card-body border-0 text-start">
              Te puedes dirigir al siguiente enlace, en donde se te enviará un correo para restablecer la contraseña, ten en cuenta que si ya iniciaste sesión no puedes recuperarla
              <a class="link-opacity-100" aria-current="page" routerLink="/recuperar-cuenta">Recuperar contraseña</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <a class="btn border-0 fw-bold text-start" data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">
            ¿Debo tener una cuenta para cargar mis imágenes? 
          </a>
          <div class="collapse" id="collapse3">
            <div class="card card-body border-0 text-start">
              Asi es, es necesario tener una cuenta para poder cargar las imágenes y se proporcionen las recomendaciones de fertilización. Si ya iniciaste sesión dirigete a este enlace:
              <a class="link-opacity-100" aria-current="page" routerLink="/inicio">Inicio</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <a class="btn border-0 fw-bold text-start" data-bs-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapseExample">
            ¿Cómo encuentro las recomendaciones?
          </a>
          <div class="collapse" id="collapse4">
            <div class="card card-body border-0 text-start">
              Primero debes tener activa tu sesion, una vez obtienes tu resultado según el porcentaje de estimación de nitrógeno se dan recomendaciones del plan de fertilización, el cuál se encuentra en el siguiente link:
              <a class="link-opacity-100" aria-current="page" routerLink="/recomendaciones">Recomendaciones</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <a class="btn border-0 fw-bold text-start" data-bs-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapseExample">
            ¿Hay algún manual de usuario?
          </a>
          <div class="collapse" id="collapse5">
            <div class="card card-body border-0 text-start">
              Si, puedes descargarlo en el link que aparece en la parte inferior, en este se encuentra la explicación de como navegar por los módulos de la aplicación.
              <a
              class="link-opacity-100"
              href="../../../assets/Manual.pdf"
              download="Manual.pdf"
              >Click aqui para descargar el manual de usuario</a
            >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>