   <div class="card bg-c-primary rounded-0">
    <div class="row align-items-start">
    <div class="col-md-4 col-sm-4">
      <div class="card-body text-c-text text-center">
        <h5 class="card-title ">Desarrollado por:</h5>
       <p><a class="link-opacity-100 text-c-text" href="https://www.linkedin.com/in/laura-valentina-rodriguez-garzón" >Laura Valentina Rodríguez Garzón</a></p>     
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="card-body">
        <h5 class="card-title text-c-text text-center">¿Tienes dudas de como usar la aplicación?</h5>
        <a class="text-center d-block text-c-text" routerLink="/ayuda">Ayuda</a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="card-body  text-center">
        <h5 class="card-title text-c-text">UCundinamarca</h5>
        <p><a class="link-opacity-100 text-c-text" href="https://www.ucundinamarca.edu.co/">Universidad de Cundinamarca</a></p>
      </div>
    </div>
  </div>
  </div>