<div class="container">
  <div class="recuperar-cuenta-component" *ngIf="!loading; else spiner">
    <div class="login-text">Recupera contraseña</div>
    <form
      [formGroup]="formForgotPassword"
      class="login-form"
      (ngSubmit)="resetPassword()"
    >
      <input
        type="email"
        placeholder="Correo"
        formControlName="email"
        autocomplete
      />
      <button type="submit">Enviar correo</button>
      <a routerLink="/login" class="volver-link">Volver al inicio de sesión</a>
    </form>
  </div>
  <ng-template #spiner>
    <div class="lds-default">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </ng-template>
</div>
