
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: #0A2B72;
  }
  
  #folderSelector {
    display: none;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #EB5481;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0A2B72;
  }
  
  .selected-folder {
    margin-top: 20px;
    color: #0A2B72;
  }
  
  .btn-process {
   
    padding: 10px 20px;
    background-color: #EB5481;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn-process:hover {
    background-color: #0A2B72;
  }
  


.resultado {
    margin-top: 20px;
    color: #0A2B72;
  }
  
  .btn-new {
    margin-top: 10px;
    background-color: #EB5481;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn-new:hover {
    background-color: #0A2B72;
  }